.App {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  right: 50px;
}
.parent {
  width: 70%;
  height: 600px;
  background-image: url("images/me.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(3px 0px 5px #808080);
}
.child {
  font-size: 3.5em;
  position: relative;
  left: 104px;
  top: 157px;
  z-index: 999;
}
.subtitle {
  position: relative;
  font-size: small;
  color: grey;
}
.toplevel {
  width: 1200px;

  margin: auto;
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Lato";
}
