.blog{
    /* height: 100vh; */
    /* height: 1000px; */
    /* width: 1000px;
    display: flex;
    justify-content: center;
    position: relative; */
    padding-bottom: 240px;
}
.blogcard{
    position: relative;
    top: 25%;
   
}
.blogcard p{
    color: grey;
}
hr{
    width: 2%;
    float: left;
    /* color: "black"; */
    background-color: #b4d6f7;
    height: 2px;
    border: 0px;
}
.blogcard h1{
    margin-bottom: 0px;
}
.duck{
    padding-left: 50px;
    width: 60%;
    float: right;
}
.fergus{
    width: 39%;
    float: left;
    padding: 0px 50px 100px 100px;
}
.blogcard a{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
}