.contact {
  height: 100vh;
  background-color: #345b73;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  display: table;
  width: 100%;
}
.info {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.github {
  width: 50px;
  padding: 30px;
}
