ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0px;
  /* position: relative; */
  /* width: 900px; */
  /* height: 600px; */
  /* right: 163px; */
}

ul li {
  display: inline-block;
  margin: 10px;
}
.nav {
  /* position: fixed; */
  z-index: 999;
}
a#special {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a#special:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #b4d6f7;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a#special:hover:after {
  width: 100%;
  left: 0;
}
